html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding-top: 55px;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
} 

img {
    max-width: 60%;
} 

/* Homepage */

.image-container
{
    position: fixed;
    left: 6%;
    /* z-index: 10; */
    padding-top: 2%;
    max-width: 45%; /* Maximum width */
    max-height: 800px
}



.content {
    position: fixed;
    left: 45%;
    max-width: 38%; /* Maximum width */
    padding-top: 8%;
    margin: 0 auto; /* Center it */
}

.content > h2 {
    color: #757575;
    font-size: 3vmin;
}

/* .content > h3 {
    color:black;
    font-size: 25px;
}

.content > h4 {
    color:#696969;
    font-size: 19px;
    text-align: justify;
}

.content > p {
    color:#696969;
    font-size: 18px;
    text-align: justify;
} */

/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}
